					<br>&nbsp;</br>
	                	<br>&nbsp;</br>
	                	<br>&nbsp;</br>
	                	<br>&nbsp;</br>
<div class="container">
	<div class="row">
		<div class="modal-dialog">
			<div class="modal-content">
	          <div class="modal-header">
	            <h3>Login to view your photos</h3>
	          </div>
	          <div class="modal-body">
	            <form method="post" action='' name="login_form" ng-controller="loginController" ng-submit="login(user)">
	              <div class="form-group"><p><input type="text" class="span3" name="username" ng-model="user.username" id="email" placeholder="Email"></p></div>
	              <div class="form-group"><p><input type="password" class="span3" name="password" ng-model="user.password" placeholder="Password"></p></div>
	              <div class="form-group"><p><button type="submit" class="btn btn-primary">Sign in</button></div>
	              </p>
	            </form>
	          </div>
	          <div class="modal-footer">
	            
	          </div>
	        </div>
        </div>
	</div>
</div>				

						<br>&nbsp;</br>
	                	<br>&nbsp;</br>
	                	<br>&nbsp;</br>